In [31]:
from mlxtend.frequent_patterns import apriori
import pandas as pd
from mlxtend.frequent_patterns import association_rules

### Leitura do Dataset

In [10]:
live_clean = pd.read_csv('live-clean.csv', sep=",")
labels = list(live_clean)
values = list(live_clean.values)

In [11]:
live_clean

,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,0,529,512,262,432,92,3,1,1,0
1,1,150,0,0,150,0,0,0,0,0
2,0,227,236,57,204,21,1,1,0,0
3,1,111,0,0,111,0,0,0,0,0
4,1,213,0,0,204,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
7045,1,89,0,0,89,0,0,0,0,0
7046,1,16,0,0,14,1,0,1,0,0
7047,1,2,0,0,1,1,0,0,0,0
7048,1,351,12,22,349,2,0,0,0,0
7049,1,17,0,0,17,0,0,0,0,0

In [ ]:
dataset_desejado = [

           ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']
]

In [12]:

def generate_prefix(code):
        
    myd = {0: 'video', 1: 'photo', 2: 'link', 3: 'status'}
    
    return myd[code]


print(generate_prefix(3))

status

### Tratamento

In [13]:
dataset = []
for i in values:
    lista = list(i)
    linha = [generate_prefix(lista[0])] + lista[2::]
    
    for i in range(1, len(linha)):
        if(linha[i]>0):
            linha[i] = 1
        else:
            linha[i] = 0
    dataset.append(linha)

In [14]:
labels = ['comments', 'shares', 'likes', 'loves', 'wows', 'hahas', 'sads', 'angrys']
dataset_apriori = []
for i in dataset:
    new_line = []
    new_line.append(i[0])
    for j in range(0, len(i[1::])):
        if(i[1::][j]==1):
            new_line.append(labels[j])
    dataset_apriori.append(new_line)
print(dataset_apriori[0:5])

[['video', 'comments', 'shares', 'likes', 'loves', 'wows', 'hahas', 'sads'], ['photo', 'likes'], ['video', 'comments', 'shares', 'likes', 'loves', 'wows', 'hahas'], ['photo', 'likes'], ['photo', 'likes', 'loves']]

## Apriori

In [17]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
import dataframe_image as dfi

te = TransactionEncoder()
te_ary = te.fit(dataset_apriori).transform(dataset_apriori)
df = pd.DataFrame(te_ary, columns=te.columns_)
dfi.export(df.head(), "fig12.png")

In [45]:
from mlxtend.frequent_patterns import apriori

padroes = apriori(df, min_support=0.4, use_colnames=True)
dfi.export(padroes, "fig13.png")

In [47]:
assoc = association_rules(padroes, metric='confidence', min_threshold=0.6)
assoc.sort_values('confidence', ascending=False)
dfi.export(assoc, "fig14.png")

In [112]:
frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                  itemsets  length
0  0.699433                (comments)       1
1  0.982128                   (likes)       1
2  0.400000                   (loves)       1
3  0.608227                   (photo)       1
4  0.445248                  (shares)       1
5  0.699007         (likes, comments)       2
6  0.413191         (photo, comments)       2
7  0.603972            (photo, likes)       2
8  0.444681           (likes, shares)       2
9  0.412908  (photo, likes, comments)       3

In [116]:
frequent_itemsets[ (frequent_itemsets['length'] > 3) &
                   (frequent_itemsets['support'] >= 0.3) ]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

### FPGrowth

In [48]:
from mlxtend.frequent_patterns import fpgrowth

padroes = fpgrowth(df, min_support=0.4, use_colnames=True)
dfi.export(padroes, "fig15.png")

In [51]:
assoc = association_rules(padroes, metric='confidence', min_threshold=0.6)
assoc.sort_values('confidence', ascending=False)
dfi.export(assoc, "fig16.png")